<a href="https://colab.research.google.com/github/prathameshwalinu/Flight_Fare_Prediction/blob/main/DSEMT_Flight_Fare_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
import pandas as pd

In [2]:
flights = pd.read_csv('https://media.githubusercontent.com/media/prathameshwalinu/Flight_Fare_Prediction/main/Cleaned_data.csv')
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613643 entries, 0 to 7613642
Data columns (total 13 columns):
 #   Column             Dtype
---  ------             -----
 0   ItinID             int64
 1   MktID              int64
 2   MktCoupons         int64
 3   Quarter            int64
 4   Origin             object
 5   OriginWac          int64
 6   Dest               object
 7   DestWac            int64
 8   Miles              float64
 9   ContiguousUSA      int64
 10  NumTicketsOrdered  float64
 11  AirlineCompany     object
 12  PricePerTicket     float64
dtypes: float64(3), int64(7), object(3)
memory usage: 755.1+ MB

In [3]:
flights = flights.drop(['ItinID', 'MktCoupons', 'MktID'], axis=1)
flights

,Quarter,Origin,OriginWac,Dest,DestWac,Miles,ContiguousUSA,NumTicketsOrdered,AirlineCompany,PricePerTicket
0,1,PHL,23,LAX,91,2402.0,2,3.0,AA,64.00
1,1,LAX,91,PHL,23,2402.0,2,2.0,AA,68.50
2,1,PHL,23,LAX,91,2402.0,2,2.0,AA,68.50
3,1,LAX,91,PHL,23,2402.0,2,3.0,AA,70.50
4,1,PHL,23,LAX,91,2402.0,2,3.0,AA,70.50
...,...,...,...,...,...,...,...,...,...,...
7613638,4,JFK,22,SFO,91,2586.0,2,1.0,AS,119.59
7613639,4,JFK,22,SFO,91,2586.0,2,1.0,AS,120.50
7613640,4,JFK,22,SFO,91,2586.0,2,1.0,AS,133.69
7613641,4,JFK,22,SFO,91,2586.0,2,1.0,AS,196.89
7613642,4,JFK,22,SFO,91,2586.0,2,1.0,AS,654.80

In [4]:
#Co-relation between features
flights.corr(method='pearson')

<ipython-input-4-083931cd990c>:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  flights.corr(method='pearson')

,Quarter,OriginWac,DestWac,Miles,ContiguousUSA,NumTicketsOrdered,PricePerTicket
Quarter,1.000000,0.021077,0.021361,-0.018353,0.027347,-0.014315,0.072110
OriginWac,0.021077,1.000000,0.121855,-0.020422,0.222902,-0.010337,-0.009163
DestWac,0.021361,0.121855,1.000000,-0.019799,0.224160,-0.010827,-0.011196
Miles,-0.018353,-0.020422,-0.019799,1.000000,-0.409319,-0.027975,0.358581
ContiguousUSA,0.027347,0.222902,0.224160,-0.409319,1.000000,-0.003400,-0.152352
NumTicketsOrdered,-0.014315,-0.010337,-0.010827,-0.027975,-0.003400,1.000000,-0.153306
PricePerTicket,0.072110,-0.009163,-0.011196,0.358581,-0.152352,-0.153306,1.000000

In [5]:
flights.nunique()

Quarter                  4
Origin                 276
OriginWac               53
Dest                   274
DestWac                 53
Miles                 2216
ContiguousUSA            2
NumTicketsOrdered       20
AirlineCompany          14
PricePerTicket       63364
dtype: int64

In [6]:
flights.isnull().sum()

Quarter              0
Origin               0
OriginWac            0
Dest                 0
DestWac              0
Miles                0
ContiguousUSA        0
NumTicketsOrdered    0
AirlineCompany       0
PricePerTicket       0
dtype: int64

In [7]:
# import seaborn as sns
# sns.pairplot(flights)

In [8]:
# import seaborn as sns
# x = flights['NumTicketsOrdered']
# sns.distplot(x)

In [9]:
flights['AirlineCompany'].value_counts()

WN    2277460
AA    1283771
DL    1202566
UA     931693
B6     567637
G4     376406
AS     376154
NK     252623
F9     159376
HA     114212
SY      40774
MX      17113
3M      10020
XP       3838
Name: AirlineCompany, dtype: int64

In [10]:
# import seaborn as sns
# y = flights['PricePerTicket']
# sns.distplot(y)

In [11]:
flights['PricePerTicket'].describe()

count    7.613643e+06
mean     2.121785e+02
std      1.391172e+02
min      5.000000e+01
25%      1.185000e+02
50%      1.765000e+02
75%      2.620000e+02
max      1.000000e+03
Name: PricePerTicket, dtype: float64

In [12]:
# import matplotlib.pyplot as plt
# plt.scatter(flights['PricePerTicket'], flights['Miles'])

In [13]:
# import seaborn as sns
# sns.regplot(x="Miles", y="PricePerTicket", data = flights)

In [14]:
!pip install category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: category_encoders in /usr/local/lib/python3.9/dist-packages (2.6.0)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.22.4)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.5.3)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.10.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.2.2)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (0.13.5)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.5->category_encoders) (2022.7.1)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.9/dist-packages (from statsmodels>=0.9.0->category_encoders) (23.0)

In [15]:
flights = flights.drop(columns = ['OriginWac', 'DestWac', 'ContiguousUSA'])
flights

,Quarter,Origin,Dest,Miles,NumTicketsOrdered,AirlineCompany,PricePerTicket
0,1,PHL,LAX,2402.0,3.0,AA,64.00
1,1,LAX,PHL,2402.0,2.0,AA,68.50
2,1,PHL,LAX,2402.0,2.0,AA,68.50
3,1,LAX,PHL,2402.0,3.0,AA,70.50
4,1,PHL,LAX,2402.0,3.0,AA,70.50
...,...,...,...,...,...,...,...
7613638,4,JFK,SFO,2586.0,1.0,AS,119.59
7613639,4,JFK,SFO,2586.0,1.0,AS,120.50
7613640,4,JFK,SFO,2586.0,1.0,AS,133.69
7613641,4,JFK,SFO,2586.0,1.0,AS,196.89
7613642,4,JFK,SFO,2586.0,1.0,AS,654.80

In [16]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(flights, train_size = 0.70, test_size = 0.30, random_state=42)

train, val = train_test_split(train, train_size = 0.50, test_size = 0.50, random_state=42)

train.shape, val.shape, test.shape

((2664775, 7), (2664775, 7), (2284093, 7))

In [17]:
target = ['PricePerTicket']
features = flights.columns.drop(target)

x_train = train[features]
y_train = train[target]

x_val = val[features]
y_val = val[target]

x_test = test[features]
y_test = test[target]

In [18]:
from sklearn.pipeline import make_pipeline
from category_encoders import TargetEncoder
from category_encoders import OrdinalEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
import lightgbm as ltb
from sklearn.metrics import r2_score

#Encode the categoricals
encoder = OrdinalEncoder()
x_train_encoded = encoder.fit_transform(x_train)
x_val_encoded = encoder.fit_transform(x_val)
x_test_encoded = encoder.fit_transform(x_test)

#RandomForest Regressor
pipeline = make_pipeline(
    OrdinalEncoder(),
    RandomForestRegressor(max_depth=20, n_estimators=20)
)
pipeline.fit(x_train, y_train)
y_pred = pipeline.predict(x_val)
print('RandomForest R^2 Score = ', r2_score(y_val, y_pred))


# LinearRegression Model
model2 = LinearRegression()
model2.fit(x_train_encoded, y_train)
y_pred2 = model2.predict(x_val_encoded)
print('LinearRegression R² Score = ', r2_score(y_val, y_pred2))

# RidgeRegression Model
model3 = Ridge()
model3.fit(x_train_encoded, y_train)
y_pred3 = model3.predict(x_val_encoded)
print('RidgeRegression R² Score = ', r2_score(y_val, y_pred3))

# LassoRegreession Model
model4 = Lasso()
model4.fit(x_train_encoded, y_train)
y_pred4 = model4.predict(x_val_encoded)
print('LassoRegression R² Score = ', r2_score(y_val,y_pred4))

#LightGBM Model
model5 = ltb.LGBMRegressor()
model5.fit(x_train_encoded, y_train)
y_pred5 = model5.predict(x_val_encoded)
print('Light GBM R² Score = ', r2_score(y_val,y_pred5))

/usr/local/lib/python3.9/dist-packages/sklearn/pipeline.py:405: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)

RandomForest R^2 Score =  0.2944959577914401
LinearRegression R² Score =  0.14682682203327857
RidgeRegression R² Score =  0.14682682363609045
LassoRegression R² Score =  0.14716687642927107
Light GBM R² Score =  0.06393086914225432

In [59]:
import pickle

In [60]:
pickle.dump(pipeline, open('reg_model.pkl','wb'))

In [61]:
pickled_model = pickle.load(open('reg_model.pkl','rb'))
pickled_model.predict(x_test)

array([147.09437436, 190.18633893, 236.50071372, ..., 171.76271142,
       158.08480899, 194.65664959])

In [19]:
from joblib import dump
dump(pipeline, 'pipeline.joblib', compress=9)

['pipeline.joblib']

In [20]:
import joblib
import sklearn
import category_encoders as ce
import pandas as pd
print(f'joblib=={joblib.__version__}')
print(f'scikit-learn=={sklearn.__version__}')
print(f'category_encoders=={ce.__version__}')
print(f'pandas=={ce.__version__}')

joblib==1.2.0
scikit-learn==1.2.2
category_encoders==2.6.0
pandas==2.6.0

In [21]:
# Train Sets -- Top 5 Airline Company Specific
train_delta = train[train['AirlineCompany'] == 'DL']
train_southwest = train[train['AirlineCompany'] == 'WN']
train_american = train[train['AirlineCompany'] == 'AA']
train_united = train[train['AirlineCompany'] == 'UA']
train_jetblue = train[train['AirlineCompany'] == 'B6']

# Validation Sets -- Top 5 Airline Company Specific
val_delta = val[val['AirlineCompany'] == 'DL']
val_southwest = val[val['AirlineCompany'] == 'WN']
val_american = val[val['AirlineCompany'] == 'AA']
val_united = val[val['AirlineCompany'] == 'UA']
val_jetblue = val[val['AirlineCompany'] == 'B6']

target = ['PricePerTicket']
features = flights.columns.drop(target)

# Delta
xtd = train_delta[features]
ytd = train_delta[target]
xvd = val_delta[features]
yvd = val_delta[target]

# Southwest
xts = train_southwest[features]
yts = train_southwest[target]
xvs = val_southwest[features]
yvs = val_southwest[target]

# American
xta = train_american[features]
yta = train_american[target]
xva = val_american[features]
yva = val_american[target]

# United
xtu = train_united[features]
ytu = train_united[target]
xvu = val_united[features]
yvu = val_united[target]

# Jetblue
xtj = train_jetblue[features]
ytj = train_jetblue[target]
xvj = val_jetblue[features]
yvj = val_jetblue[target]

# Encode the categorical variables
encoder = OrdinalEncoder()
xtd = encoder.fit_transform(xtd, ytd)
xvd = encoder.fit_transform(xvd, yvd)
xts = encoder.fit_transform(xts, yts)
xvs = encoder.fit_transform(xvs, yvs)
xta = encoder.fit_transform(xta, yta)
xva = encoder.fit_transform(xva, yva)
xtu = encoder.fit_transform(xtu, ytu)
xvu = encoder.fit_transform(xvu, yvu)
xtj = encoder.fit_transform(xtj, ytj)
xvj = encoder.fit_transform(xvj, yvj)

# Random Forest Models
model_d = RandomForestRegressor()
model_s = RandomForestRegressor()
model_a = RandomForestRegressor()
model_u = RandomForestRegressor()
model_j = RandomForestRegressor()

model_d.fit(xtd, ytd)
model_s.fit(xts, yts)
model_a.fit(xta, yta)
model_u.fit(xtu, ytu)
model_j.fit(xtj, ytj)

<ipython-input-21-a9be74b88653>:68: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_d.fit(xtd, ytd)
<ipython-input-21-a9be74b88653>:69: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_s.fit(xts, yts)
<ipython-input-21-a9be74b88653>:70: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_a.fit(xta, yta)
<ipython-input-21-a9be74b88653>:71: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_u.fit(xtu, ytu)
<ipython-input-21-a9be74b88653>:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_j.fit(xtj, ytj)

RandomForestRegressor()

In [22]:
# pipeline_encoder = pipeline.named_steps['ordinalencoder']
# mapping = pipeline_encoder.mapping

# origin_dict = dict(mapping[0])
# dest_dict = mapping[1]
# airline_dict = mapping[2]

In [23]:
# from sklearn.metrics import accuracy_score
# print (" Random Forest Regressor Accuracy : ", accuracy_score(y_val,y_pred)*100)
# # print (" Linear Regression Accuracy : ", accuracy_score(y_val,y_pred2)*100)
# # print (" Ridge Regression Accuracy : ", accuracy_score(y_val,y_pred3)*100)
# # print (" Lasso Regreession Accuracy : ", accuracy_score(y_val,y_pred4)*100)
# # print (" LightGBM Accuracy : ", accuracy_score(y_val,y_pred5)*100)
# # print (" Decision Tree Regressor Accuracy : ", accuracy_score(y_val,y_pred6)*100)